@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root{
  background-color: #c2c2c2;
}
.app {
  background-color: #f0f0f0;
  font-family: 'Source Sans 3', sans-serif;
}
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center
}
.content-container {
  color: blue
}
.header-img {
  mix-blend-mode: darken;
}

